<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373610499198-ts72pm6060p4f443fh55ebros4cquans.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373610499198-ts72pm6060p4f443fh55ebros4cquans</string>
	<key>API_KEY</key>
	<string>AIzaSyAwAzDFvJ3lldjOvaDQwS4O6-Yf4fFcZWo</string>
	<key>GCM_SENDER_ID</key>
	<string>373610499198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>avs.Vitae</string>
	<key>PROJECT_ID</key>
	<string>vitae-266301</string>
	<key>STORAGE_BUCKET</key>
	<string>vitae-266301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373610499198:ios:d910d233fa7f8541b01c2f</string>
	<key>DATABASE_URL</key>
	<string>https://vitae-266301.firebaseio.com</string>
</dict>
</plist>